html,
body {
  height: 100%;
}

body {
  font-size: 24px;
  line-height: 29px;
  @extend %montserrat-300;
  @extend %body-font;
  background-color: $bg;
  color: $default;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 15px;
}

.major {
  &__item {
    max-width: 393px;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    @extend %body-font;
    max-width: 288px;
  }
  &__title {
    @extend %montserrat-300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
  &__price {
    font-size: 18px;
    line-height: 22px;
  }
  &__link {
    width: 30px;
    height: 30px;
  }
}

