<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__contacts">
        <a class="footer__adress" href="#">с. Хотів, вул. Партизанська 1А</a>
        <a class="footer__email" href="mailto:kostromaganna@gmail.com">Email: kostromaganna@gmail.com</a>
        <a class="footer__phone" href="tel:+380999876240">Tel: +38(099) 987 62 40</a>
      </div>
      <a class="footer__logo" href="#">
        <img src="images/src/icons/logo_footer.svg" alt="logo footer">
      </a>
      <div class="footer__social">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <img class="footer__social-img" src="images/src/icons/instagram.svg" alt="">
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <img class="footer__social-img" src="images/src/icons/telegram.svg" alt="">
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <img class="footer__social-img" src="images/src/icons/whatsapp.svg" alt="">
            </a>
          </li>
        </ul>
        <div class="footer__privacy">
          <p class="footer__privacy-text">Політика конфіденційності</p>
          <p class="footer__privacy-text">Договір оферти</p>
        </div>
      </div>
    </div>
</footer>

<script src="js/main.min.js"></script>
</body>

</html>