<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="header-bot">
      <div class="container">
        <div class="header-bot__title">
          GRANN
          <h4 class="header-bot__subtitle">авторські десерти</h4>
        </div>
        <div class="header-bot__social">
          <div class="header-bot__fake"></div>
          <button class="header-bot__btn">
            <a class="header-bot__btn-link" href="#">
              До каталогу
            </a>
          </button>
          <ul class="header-bot__social-list">
            <li class="header-bot__social-item">
              <a class="header-bot__social-link" href="#">
                <img class="header-bot__social-img" src="images/icons/header_telegram.svg" alt="social img">
              </a>
            </li>
            <li class="header-bot__social-item">
              <a class="header-bot__social-link" href="#">
                <img class="header-bot__social-img" src="images/icons/header_facebook.svg" alt="social img">
              </a>
            </li>
            <li class="header-bot__social-item">
              <a class="header-bot__social-link" href="#">
                <img class="header-bot__social-img" src="images/icons/header_instagram.svg" alt="social img">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>