<div class="header-top">
  <div class="container">
    <div class="menu__inner" id="top">
      
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__item-link" href="#bestsellers">
              Бестселлери
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="categories.html">
              Каталог
            </a>
          </li>
        </ul>
      </nav>

      <a class="menu__logo-link" href="#">
        <img class="menu__logo-img" src="images/icons/logo_header.svg" alt="logo img">
      </a>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__item-link" href="#delivery">
              Доставка
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#about">
              Про мене
            </a>
          </li>
        </ul>

        <button class="menu__btn">
          <img class="menu__btn-img" src="images/icons/burger.svg" alt="menu btn">
        </button>
        <div class="menu-burger__box">

          <img class="menu-burger__btn" src="images/icons/burger_close.svg" alt="menu btn">
          
          <ul class="menu-burger__list">
            <li class="menu-burger__item">
              <a class="menu-burger__link" href="">
              Бестселлери
            </a>
            </li>
            <li class="menu-burger__item">
              <a class="menu-burger__link" href="">
                Каталог
            </a>  
            </li>
            <li class="menu-burger__item">
              <a class="menu-burger__link" href="">
                Доставка
            </a>
            </li>
            <li class="menu-burger__item">
              <a class="menu-burger__link" href="">
                Про мене
            </a>
            </li>
          </ul>

          <img class="menu-burger__img" src="images/burger_img.png" alt="image">
          
        </div>

        <a class="menu__shopping-cart" href="#" data-fancybox data-src="#dialog-content">
          <img src="images/icons/shopping_cart.svg" alt="cart img">
        </a>
      </nav>
    </div>
  </div>
</div>